// Style pour la page d'accueil de la catégories hebergement
// -----------------------------
// Nom: Claudia C.Gariépy
// Matricule: 1474731
div.hebergement {
    & > header.hebergement {
        position: relative;
        @include setFlex(row, start, start);
        & > div.rectangle-noir {
            position: absolute;
            top: 0;
            width: 20%;
            height: 1200px;
            background-color: var(--marine);
            @include breakpoint-min(576) {
                height: 1050px;
                width: 30%;
            }
            @include breakpoint-min(992) {
                height: 1100px;
                width: 30%;
            }
            @include breakpoint-min(1200) {
                height: 1200px;
                width: 30%;
            }
        }
        & > div.rectangle-pale {
            position: relative;
            top: 7rem;
            left: 2rem;
            height: 1000px;
            width: 60%;
            background-color: var(--gris);
            @include breakpoint-min(576) {
                height: 850px;
                width: 42%;
            }
            @include breakpoint-min(992) {
                height: 900px;
                width: 42%;
            }
            @include breakpoint-min(1200) {
                left: 9rem;
                height: 1000px;
            }
            & > div h1 {
                margin: {
                    top: 3rem;
                    left: 1.5rem;
                    right: 2rem;
                    bottom: 0;
                }
                font-weight: 900;
                font-size: 32px;
                @include breakpoint-min(576) {
                    font-size: 60px;
                }
                @include breakpoint-min(992) {
                    margin-left: 4rem;
                }
                @include breakpoint-min(1200) {
                    margin: {
                        left: 4rem;
                        right: 3rem;
                    }
                }
                @include breakpoint-min(1920) {
                    font-size: 90px;
                }
            }
            & > div.wrapper-grille-images {
                display: none;
                filter: brightness(1);
                @include breakpoint-min(1200) {
                    display: grid;
                    position: absolute;
                    top: 6rem;
                    left: 11rem;
                    z-index: 20;
                    overflow: visible;
                }
                @include breakpoint-min(1400) {
                    left: 14rem;
                }
            }
            & > img {
                width: 280px;
                height: 400px;
                object-fit: cover;
                margin: {
                    top: 2rem;
                    left: 1.5rem;
                }
                @include breakpoint-min(992) {
                    width: 400px;
                    height: 500px;
                    margin-left: 4rem;
                }
                @include breakpoint-min(1200) {
                    display: none;
                }
            }
        }
    }
    & > div.elevator-pitch div.paragrapheSlot p {
        position: relative;
        bottom: 330px;
        left: 8px;
        z-index: 10;
        @include breakpoint-min(576) {
            bottom: 150px;
        }
        @include breakpoint-min(768) {
            bottom: 150px;
            margin-right: 7rem;
        }
        @include breakpoint-min(992) {
            bottom: 100px;
            left: 3rem;
            margin-right: 23rem;
        }
        @include breakpoint-min(1200) {
            bottom: 170px;
            left: 10rem;
            margin-right: 31rem;
        }
        @include breakpoint-min(1400) {
            margin-right: 33rem;
        }
        @include breakpoint-min(1600) {
            margin-right: 48rem;
        }
        @include breakpoint-min(1800) {
            margin-right: 55rem;
        }
        @include breakpoint-min(1920) {
            margin-right: 55rem;
        }
    }
    & > div.inspiration-categorie {
        margin-top: 130px;
        margin-bottom: 200px;
        @include breakpoint-min(576) {
            margin-top: 230px;
        }
        @include breakpoint-min(1200) {
            margin-top: 380px;
        }
    }
    & > div.wrapper-lien-sous-categorie {
        @include setFlex(column, center, center);
        text-align: center;
        & > div.lien-sous-categorie {
            width: 80%;
            margin: {
                top: 1.5rem;
            }
        }
        @include breakpoint-min(992) {
            @include setFlex(row, center, start);
            flex-wrap: wrap;
            gap: 2rem;
            & > div.lien-sous-categorie {
                width: 43%;
                margin: {
                    top: 0;
                }
            }
        }
        @include breakpoint-min(1200) {
            @include setFlex(row, center, start);
            flex-wrap: wrap;
            & > div.lien-sous-categorie:nth-child(1) {
                width: 39.4%;
            }
            & > div.lien-sous-categorie:nth-child(2) {
                width: 55%;
            }
            & > div.lien-sous-categorie:nth-child(3) {
                width: 27%;
            }
            & > div.lien-sous-categorie:nth-child(4) {
                width: 67.4%;
            }
            & > div.lien-sous-categorie:nth-child(5) {
                width: 99%;
            }
        }
    }
    & > div.pointille-absolut {
        display: none;
    }
    @include breakpoint-min(1200) {
        div.pointille-absolut {
            display: block;
            position: relative;
            & > div.wrapper-pointille:nth-child(1) {
                position: absolute;
                top: -1050px;
                left: 31%;
                z-index: 4;
            }
            & > div.wrapper-pointille:nth-child(2) {
                position: absolute;
                top: -545px;
                left: 26%;
                z-index: 4;
            }
            & > div.wrapper-pointille:nth-child(3){
                position: absolute;
                top: -340px;
                right: 0;
                z-index: 4;
            }
            & > div.wrapper-pointille:nth-child(4){
                display: none;
            }
            & > div.wrapper-pointille:nth-child(5){
                display: none;
            }
        }
    }
    & > div h1 {
        font-weight: 900;
        font-size: 30px;
        line-height: 1;
        margin-left: 2rem;
        margin-right:2rem;
        @include breakpoint-min(576) {
            font-size: 60px;
            margin-left: 3rem;
            margin-right: 3rem;
        }
        @include breakpoint-min(1200) {
            margin-bottom: 4rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
        @include breakpoint-min(1920) {
            font-size: 90px;
        }
    }
}
