// ttyle des titres communs
// -----------------------------
// Nom: Claudia C.Gariépy
// Matricule: 1474731
h1.titreCommun {
    font-size: 90px;
    color: var(--noir);
    font-family: 'Urbanist', sans-serif;
}