:root {
   // variables palette de couleurs
   --blanc: #FFFFFF;
   --orange: #fca311;
   --orangeFonce: hsl(37, 98%, 43%);
   --orangeTrans: #fca211e7;
   --orangeFonceFonce: hsl(37, 98%, 45%);
   --orangeFonceEntete: hsl(37, 98%, 40%);
   --marine: #14213d;
   --marinePale: hsl(221, 51%, 20%);
   --marinePaleTrans: hsla(222, 51%, 20%, 0.95);
   --gris: #e5e5e5;
   --grisFonce: hsl(0, 0%, 80%);
   --noir: #0D0D0D;
}
