// Style poour les paragraphes communs avec slots
// -----------------------------
// Nom: Claudia C.Gariépy
// Matricule: 1474731
div.paragrapheSlot {
    margin: {
        left: 3rem;
        right: 3rem;
    };
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Noto Serif KR', serif;
}