// Style pour les vignettes pour chaque MRC
// -----------------------------
// Nom: Chadrik Bertrand
// Matricule: 2037079
div.interface {
    overflow-x: hidden;
    & div.main-MRC {
        & > div.entete {
            position: relative;
            margin-bottom: 100px;
            & h1 {
                margin-top: 0;
                padding-top: 45px;
                margin-left: 40px;
                font-weight: bolder;
                font-size: 3em;
            }
            div.sous-titre {
                font-size: 0.5em;
            }
            & svg {
                display: none;
            }
            &::after {
                position: absolute;
                content: "";
                display: block;
                width: 100px;
                height: 90%;
                top: 0;
                left: 0;
                background-image: linear-gradient(to top, var(--orangeFonce), var(--orange));
                z-index: -1;
            }
        }
        .vignette-1,
        .vignette-2,
        .vignette-3,
        .vignette-4 {
            @include setFlex(column, center, center);
            padding-bottom: 20px;
            margin-bottom: 45px;
            position: relative;
            & .space1 {
                & img {
                    display: none;
                }
                div.wrapper-pointille {
                    position: absolute;
                    top: -20px;
                    right: 0px;
                }
            }
            & .space2 {
                background-color: var(--gris);
                padding: 10px;

                & svg {
                    display: none;
                }
            }
            & .space3 {
                display: none;
            }
            & .space4 {
                margin-top: 10px;
            }
            & .space5 {
                order: -1;
                & img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
                // display: none;
            }
            & .space6 {
                display: none;
            }
        }
    }
}

@include breakpoint-min(768) {
    div.interface {
        div.main-MRC {
            .vignette-1,
            .vignette-2,
            .vignette-3,
            .vignette-4 {
                & .space1 {
                    div.wrapper-pointille {
                        top: 180px;
                        right: 0px;
                    }
                }
            }
        }
    }
}
@include breakpoint-min(992) {
    div.interface {
        & div.main-MRC {
            .vignette-1,
            .vignette-2,
            .vignette-3,
            .vignette-4 {
                & .space2 {
                    padding: 20px;
                }
                & .space4 {
                    padding: 20px;
                }
            }
        }
    }
}

@include breakpoint-min(1200) {
    div.interface {
        & div.main-MRC {
            & > div.entete {
                width: 75%;
                & h1 {
                    font-size: 4em;
                }
                div.sous-titre {
                    font-size: 0.5em;
                }
                &::after {
                    position: absolute;
                    content: "";
                    display: block;
                    height: 80%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background-color: var(--gris);
                    z-index: -1;
                }
                & div.paragrapheSlot {
                    margin-top: 100px;
                }
            }
            .vignette-1 {
                display: grid;
                grid-template-columns: 1fr repeat(2, 1.5fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                margin-bottom: 50px;
                padding: 0;

                & .space1 {
                    grid-area: 1 / 1 / 2 / 2;
                    @include setFlex(column, center, center);
                    position: relative;
                    & img {
                        display: block;
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                    & div.wrapper-pointille {
                        position: absolute;
                        top: -15px;
                        right: -35px;
                    }
                }
                & .space2 {
                    display: block;
                    @include setFlex(column, center, center);
                    grid-area: 1 / 2 / 2 / 3;
                    text-align: center;
                    position: relative;
                    background-color: transparent;
                    & svg {
                        display: block;
                        position: absolute;
                        bottom: -145px;
                        right: -115px;
                    }
                }
                & .space3 {
                    grid-area: 1 / 3 / 2 / 4;
                    @include setFlex(column, center, center);
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    background-color: var(--noir);
                    & div.paragrapheSlot {
                        font-size: 2.5em;
                        color: var(--orange);
                        font-weight: 900;
                    }
                }
                & .space4 {
                    grid-area: 2 / 3 / 3 / 4;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 1em;
                        text-align: center;
                    }
                }
                & .space5 {
                    grid-area: 2 / 2 / 3 / 3;
                    @include setFlex(column, center, center);
                    & img {
                        z-index: 1;
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                }
                & .space6 {
                    grid-area: 2 / 1 / 3 / 2;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 2.5em;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
            }
            .vignette-2 {
                display: grid;
                grid-template-columns: 1fr repeat(2, 1.5fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                padding: 0;

                & .space1 {
                    grid-area: 1 / 1 / 2 / 2;
                    @include setFlex(column, center, center);
                    position: relative;
                    & img {
                        display: block;
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                    & div.wrapper-pointille {
                        position: absolute;
                        top: 140px;
                        right: -35px;
                    }
                }
                & .space2 {
                    grid-area: 2 / 1 / 3 / 2;
                    background-color: transparent;
                    @include setFlex(column, center, center);
                    text-align: center;
                    position: relative;
                    & svg {
                        display: block;
                        position: absolute;
                        bottom: -5px;
                        right: -636px;
                    }
                }
                & .space3 {
                    grid-area: 2 / 2 / 3 / 3;
                    @include setFlex(column, center, center);
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    background-color: var(--noir);
                    & div.paragrapheSlot {
                        font-size: 2.5em;
                        color: var(--orange);
                        font-weight: 900;
                    }
                }
                & .space4 {
                    grid-area: 2 / 3 / 3 / 4;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 1em;
                        text-align: center;
                    }
                }
                & .space5 {
                    grid-area: 1 / 3 / 2 / 4;
                    @include setFlex(column, center, center);
                    position: relative;
                    & img {
                        z-index: 1;
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                    &::after {
                        content: "";
                        display: block;
                        background-color: var(--gris);
                        width: 250px;
                        height: 250px;
                        position: absolute;
                        bottom: -340px;
                        right: 74px;
                        border-radius: 50%;
                        z-index: -1;
                    }
                }
                & .space6 {
                    grid-area: 1 / 2 / 2 / 3;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 2.5em;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
            }
            .vignette-3 {
                display: grid;
                grid-template-columns: repeat(2, 1.5fr) 1fr;
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                margin-bottom: 50px;
                padding: 0;

                & .space1 {
                    grid-area: 2 / 3 / 3 / 4;
                    @include setFlex(column, center, center);
                    position: relative;
                    & img {
                        display: block;
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                    & div.wrapper-pointille {
                        position: absolute;
                        top: 30px;
                        left: -500px;
                        z-index: 2;
                    }
                }
                & .space2 {
                    grid-area: 2 / 2 / 3 / 3;
                    @include setFlex(column, center, center);
                    text-align: center;
                    position: relative;
                    background-color: transparent;
                    & svg {
                        display: none;
                    }
                }
                & .space3 {
                    grid-area: 2 / 1 / 3 / 2;
                    @include setFlex(column, center, center);
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    background-color: var(--noir);
                    & div.paragrapheSlot {
                        font-size: 2.5em;
                        color: var(--orange);
                        font-weight: 900;
                    }
                }
                & .space4 {
                    grid-area: 1 / 1 / 2 / 2;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 1em;
                        text-align: center;
                    }
                }
                & .space5 {
                    grid-area: 1 / 2 / 2 / 3;
                    @include setFlex(column, center, center);
                    & img {
                        z-index: 1;
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                }
                & .space6 {
                    grid-area: 1 / 3 / 2 / 4;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 2.5em;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
            }
            .vignette-4 {
                display: grid;
                grid-template-columns: 1.5fr 1fr 1.5fr;
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                margin-bottom: 50px;
                padding: 0;

                & .space1 {
                    grid-area: 2 / 2 / 3 / 3;
                    @include setFlex(column, center, center);
                    position: relative;
                    & img {
                        display: block;
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                    & div.wrapper-pointille {
                        position: absolute;
                        top: 50px;
                        right: -35px;
                    }
                }
                & .space2 {
                    grid-area: 2 / 3 / 3 / 4;
                    @include setFlex(column, center, center);
                    text-align: center;
                    position: relative;
                    background-color: transparent;
                    & svg {
                        display: block;
                        position: absolute;
                        bottom: -32px;
                        left: -916px;
                    }
                    &::after {
                        content: "";
                        display: block;
                        background-color: var(--gris);
                        width: 250px;
                        height: 250px;
                        position: absolute;
                        bottom: 150px;
                        right: 747px;
                        border-radius: 50%;
                        z-index: -1;
                    }
                }
                & .space3 {
                    grid-area: 1 / 3 / 2 / 4;
                    @include setFlex(column, center, center);
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    background-color: var(--noir);
                    & div.paragrapheSlot {
                        font-size: 2.5em;
                        color: var(--orange);
                        font-weight: 900;
                    }
                }
                & .space4 {
                    grid-area: 2 / 1 / 3 / 2;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 1em;
                        text-align: center;
                    }
                }
                & .space5 {
                    grid-area: 1 / 1 / 2 / 2;
                    @include setFlex(column, center, center);
                    & img {
                        z-index: 1;
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                }
                & .space6 {
                    grid-area: 1 / 2 / 2 / 3;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 2.5em;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}

@include breakpoint-min(1400) {
    div.interface {
        & div.main-MRC {
            .vignette-1 {
                display: grid;
                grid-template-columns: 1fr repeat(2, 1.5fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                margin-bottom: 50px;

                & .space1 {
                    grid-area: 1 / 1 / 2 / 2;
                    @include setFlex(column, center, center);
                    position: relative;
                    & img {
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                    & div.wrapper-pointille {
                        position: absolute;
                        top: -15px;
                        right: -35px;
                    }
                }
                & .space2 {
                    @include setFlex(column, center, center);
                    grid-area: 1 / 2 / 2 / 3;
                    text-align: center;
                    position: relative;
                    & svg {
                        position: absolute;
                        bottom: -145px;
                        right: -115px;
                    }
                }
                & .space3 {
                    grid-area: 1 / 3 / 2 / 4;
                    @include setFlex(column, center, center);
                    width: 100%;
                }
                & .space4 {
                    grid-area: 2 / 3 / 3 / 4;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 1em;
                        text-align: center;
                    }
                }
                & .space5 {
                    grid-area: 2 / 2 / 3 / 3;
                    @include setFlex(column, center, center);
                    & img {
                        z-index: 1;
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                }
                & .space6 {
                    grid-area: 2 / 1 / 3 / 2;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 2.5em;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
            }
            .vignette-2 {
                display: grid;
                grid-template-columns: 1fr repeat(2, 1.5fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                margin-bottom: 50px;

                & .space1 {
                    grid-area: 1 / 1 / 2 / 2;
                    @include setFlex(column, center, center);
                    position: relative;
                    & img {
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                    & div.wrapper-pointille {
                        position: absolute;
                        top: 140px;
                        right: -35px;
                    }
                }
                & .space2 {
                    grid-area: 2 / 1 / 3 / 2;

                    @include setFlex(column, center, center);
                    text-align: center;
                    position: relative;
                    & svg {
                        position: absolute;
                        bottom: -5px;
                        right: -1041px;
                    }
                }
                & .space3 {
                    grid-area: 2 / 2 / 3 / 3;
                    @include setFlex(column, center, center);
                    width: 100%;
                }
                & .space4 {
                    grid-area: 2 / 3 / 3 / 4;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 1em;
                        text-align: center;
                    }
                }
                & .space5 {
                    grid-area: 1 / 3 / 2 / 4;
                    @include setFlex(column, center, center);
                    position: relative;
                    & img {
                        z-index: 1;
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                    &::after {
                        content: "";
                        display: block;
                        background-color: var(--gris);
                        width: 250px;
                        height: 250px;
                        position: absolute;
                        bottom: -395px;
                        right: 210px;
                        border-radius: 50%;
                        z-index: -1;
                    }
                }
                & .space6 {
                    grid-area: 1 / 2 / 2 / 3;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 2.5em;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
            }
            .vignette-3 {
                display: grid;
                grid-template-columns: repeat(2, 1.5fr) 1fr;
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                margin-bottom: 50px;

                & .space1 {
                    grid-area: 2 / 3 / 3 / 4;
                    @include setFlex(column, center, center);
                    position: relative;
                    & img {
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                    & div.wrapper-pointille {
                        position: absolute;
                        bottom: 312px;
                        left: -562px;
                        z-index: 2;
                    }
                }
                & .space2 {
                    grid-area: 2 / 2 / 3 / 3;
                    @include setFlex(column, center, center);
                    text-align: center;
                    position: relative;
                    & svg {
                        display: none;
                    }
                }
                & .space3 {
                    grid-area: 2 / 1 / 3 / 2;
                    @include setFlex(column, center, center);
                    width: 100%;
                }
                & .space4 {
                    grid-area: 1 / 1 / 2 / 2;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 1em;
                        text-align: center;
                    }
                }
                & .space5 {
                    grid-area: 1 / 2 / 2 / 3;
                    @include setFlex(column, center, center);
                    & img {
                        z-index: 1;
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                }
                & .space6 {
                    grid-area: 1 / 3 / 2 / 4;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 2.5em;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
            }
            .vignette-4 {
                display: grid;
                grid-template-columns: 1.5fr 1fr 1.5fr;
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                margin-bottom: 50px;

                & .space1 {
                    grid-area: 2 / 2 / 3 / 3;
                    @include setFlex(column, center, center);
                    position: relative;
                    & img {
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                    & div.wrapper-pointille {
                        position: absolute;
                        top: -15px;
                        right: -35px;
                    }
                }
                & .space2 {
                    grid-area: 2 / 3 / 3 / 4;
                    @include setFlex(column, center, center);
                    text-align: center;
                    position: relative;
                    & svg {
                        position: absolute;
                        bottom: -32px;
                        left: -916px;
                    }
                    &::after {
                        content: "";
                        display: block;
                        background-color: var(--gris);
                        width: 250px;
                        height: 250px;
                        position: absolute;
                        bottom: 178px;
                        right: 872px;
                        border-radius: 50%;
                        z-index: -1;
                    }
                }
                & .space3 {
                    grid-area: 1 / 3 / 2 / 4;
                    @include setFlex(column, center, center);
                    width: 100%;
                }
                & .space4 {
                    grid-area: 2 / 1 / 3 / 2;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 1em;
                        text-align: center;
                    }
                }
                & .space5 {
                    grid-area: 1 / 1 / 2 / 2;
                    @include setFlex(column, center, center);
                    & img {
                        z-index: 1;
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                }
                & .space6 {
                    grid-area: 1 / 2 / 2 / 3;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 2.5em;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}
@include breakpoint-min(1920) {
    div.interface {
        & div.main-MRC {
            .vignette-1 {
                display: grid;
                grid-template-columns: 1fr repeat(2, 1.5fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                margin-bottom: 50px;

                & .space1 {
                    grid-area: 1 / 1 / 2 / 2;
                    @include setFlex(column, center, center);
                    position: relative;
                    & img {
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                    & div.wrapper-pointille {
                        position: absolute;
                        top: -15px;
                        right: -35px;
                    }
                }
                & .space2 {
                    @include setFlex(column, center, center);
                    grid-area: 1 / 2 / 2 / 3;
                    text-align: center;
                    position: relative;
                    & svg {
                        position: absolute;
                        bottom: -145px;
                        right: -115px;
                    }
                }
                & .space3 {
                    grid-area: 1 / 3 / 2 / 4;
                    @include setFlex(column, center, center);
                    width: 100%;
                }
                & .space4 {
                    grid-area: 2 / 3 / 3 / 4;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 1em;
                        text-align: center;
                    }
                }
                & .space5 {
                    grid-area: 2 / 2 / 3 / 3;
                    @include setFlex(column, center, center);
                    & img {
                        z-index: 1;
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                }
                & .space6 {
                    grid-area: 2 / 1 / 3 / 2;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 2.5em;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
            }
            .vignette-2 {
                display: grid;
                grid-template-columns: 1fr repeat(2, 1.5fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                margin-bottom: 50px;

                & .space1 {
                    grid-area: 1 / 1 / 2 / 2;
                    @include setFlex(column, center, center);
                    position: relative;
                    & img {
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                    & div.wrapper-pointille {
                        position: absolute;
                        top: 140px;
                        right: -35px;
                    }
                }
                & .space2 {
                    grid-area: 2 / 1 / 3 / 2;

                    @include setFlex(column, center, center);
                    text-align: center;
                    position: relative;
                    & svg {
                        position: absolute;
                        bottom: -5px;
                        right: -1086px;
                    }
                }
                & .space3 {
                    grid-area: 2 / 2 / 3 / 3;
                    @include setFlex(column, center, center);
                    width: 100%;
                }
                & .space4 {
                    grid-area: 2 / 3 / 3 / 4;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 1em;
                        text-align: center;
                    }
                }
                & .space5 {
                    grid-area: 1 / 3 / 2 / 4;
                    @include setFlex(column, center, center);
                    position: relative;
                    & img {
                        z-index: 1;
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                    &::after {
                        content: "";
                        display: block;
                        background-color: var(--gris);
                        width: 250px;
                        height: 250px;
                        position: absolute;
                        bottom: -395px;
                        right: 210px;
                        border-radius: 50%;
                        z-index: -1;
                    }
                }
                & .space6 {
                    grid-area: 1 / 2 / 2 / 3;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 2.5em;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
            }
            .vignette-3 {
                display: grid;
                grid-template-columns: repeat(2, 1.5fr) 1fr;
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                margin-bottom: 50px;

                & .space1 {
                    grid-area: 2 / 3 / 3 / 4;
                    @include setFlex(column, center, center);
                    position: relative;
                    & img {
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                    & div.wrapper-pointille {
                        position: absolute;
                        top: -20px;
                        left: -748px;
                        z-index: 2;
                    }
                }
                & .space2 {
                    grid-area: 2 / 2 / 3 / 3;
                    @include setFlex(column, center, center);
                    text-align: center;
                    position: relative;
                    & svg {
                        display: none;
                    }
                }
                & .space3 {
                    grid-area: 2 / 1 / 3 / 2;
                    @include setFlex(column, center, center);
                    width: 100%;
                }
                & .space4 {
                    grid-area: 1 / 1 / 2 / 2;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 1em;
                        text-align: center;
                    }
                }
                & .space5 {
                    grid-area: 1 / 2 / 2 / 3;
                    @include setFlex(column, center, center);
                    & img {
                        z-index: 1;
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                }
                & .space6 {
                    grid-area: 1 / 3 / 2 / 4;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 2.5em;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
            }
            .vignette-4 {
                display: grid;
                grid-template-columns: 1.5fr 1fr 1.5fr;
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                margin-bottom: 50px;

                & .space1 {
                    grid-area: 2 / 2 / 3 / 3;
                    @include setFlex(column, center, center);
                    position: relative;
                    & img {
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                    & div.wrapper-pointille {
                        position: absolute;
                        top: -15px;
                        right: -35px;
                    }
                }
                & .space2 {
                    grid-area: 2 / 3 / 3 / 4;
                    @include setFlex(column, center, center);
                    text-align: center;
                    position: relative;
                    & svg {
                        position: absolute;
                        bottom: -32px;
                        left: -916px;
                    }
                    &::after {
                        content: "";
                        display: block;
                        background-color: var(--gris);
                        width: 250px;
                        height: 250px;
                        position: absolute;
                        bottom: 150px;
                        right: 1056px;
                        border-radius: 50%;
                        z-index: -1;
                    }
                }
                & .space3 {
                    grid-area: 1 / 3 / 2 / 4;
                    @include setFlex(column, center, center);
                    width: 100%;
                }
                & .space4 {
                    grid-area: 2 / 1 / 3 / 2;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 1em;
                        text-align: center;
                    }
                }
                & .space5 {
                    grid-area: 1 / 1 / 2 / 2;
                    @include setFlex(column, center, center);
                    & img {
                        z-index: 1;
                        width: 100%;
                        height: 336px;
                        object-fit: cover;
                    }
                }
                & .space6 {
                    grid-area: 1 / 2 / 2 / 3;
                    @include setFlex(column, center, center);
                    & div.paragrapheSlot {
                        font-size: 2.5em;
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}
